/* start css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* end css reset */

/* start global styles */
body{
    padding: 40px 0px;
    font-family: 'Roboto', sans-serif;
}

.center-content{
    max-width: 900px;
    margin: auto;
}

.box img{
    max-width: 100px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both
}

.left{
    float: left;
}

.right{
    float: right;
}
/* end global styles */

/* start header */
header{
    text-align: center;
    margin-bottom: 3rem;
}

h1{
    color: rgb(229, 49, 112);
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2{
    color: #262626;
    font-size: 1rem;
    font-weight: 400;
}
/* end header */

/* start main content */

.card h3{
    text-transform: uppercase;
    font-weight: 600;
}

.card a {
    color: rgb(110, 203, 205);
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.card small{
    display: block;
}

.card h3, .card small{
    margin-bottom: 0.4rem;
    color: #fff;
}

.card img{
    margin-right: 20px;
}

.card-data{
    padding: 15px 0px;
    background-color: rgb(15, 14, 23);
}


/* end main content */